<html>
  <head>
    <title>Andelor</title>
    <link rel="stylesheet" href="../static/main.css" type="text/css">
  </head>
  <body>
    <div class="bannerbg">
      <img src="../static/Dwarven_City_of_Dragon's_Reach.jpg" class="banner">
      <h3 class="banner">The Dwarven Kingdom of</h3>
      <h1 class="banner">Andelor</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed lacus
      sollicitudin, blandit arcu a, faucibus lacus. Nullam suscipit at nisl
      vitae malesuada. Suspendisse semper id ipsum in ullamcorper. Aliquam sit
      amet nunc eu ante interdum efficitur. In ac tempor neque. Duis pharetra
      risus at pulvinar elementum. Nulla facilisi. Vivamus purus purus, ultrices
      eget varius a, dictum eu mauris. Duis elementum aliquet odio a varius.

      Nullam varius, sem nec ultricies dictum, metus elit semper nunc, ac varius
      massa sapien non nulla. Nunc suscipit erat nibh, sed imperdiet sem cursus
      aliquam. Suspendisse nibh elit, dapibus et neque in, molestie consequat
      tortor. Ut eu erat nibh. Donec ac purus eget justo ultricies posuere.
      Pellentesque lacus metus, bibendum id augue quis, eleifend tincidunt
      lectus. Nunc placerat fringilla porttitor. Suspendisse euismod lectus et
      neque fringilla, sit amet laoreet urna elementum.
    </p>
    <p>
      Donec at velit felis. Cras egestas eros vel neque ultricies lacinia ut a
      tortor. Cras lacinia magna ut tincidunt tempus. Vestibulum semper lacinia
      turpis imperdiet lacinia. Integer eleifend, diam vitae sollicitudin
      pulvinar, massa massa pulvinar massa, ac tempus lacus eros vel ex. Proin
      eleifend non velit vel ultrices. Nulla consectetur egestas dignissim.

      Aliquam condimentum justo tellus, et placerat leo cursus et. Nulla ac nunc
      eu elit blandit lobortis. Vivamus sagittis efficitur risus, et ultricies
      purus molestie et. Vivamus non nunc enim. Cras vitae orci vel sapien
      porttitor vestibulum eget et leo. Cras sed viverra nunc, id tempus arcu.
      Sed mattis varius arcu vitae commodo. Nam sit amet nisi nec ex tempor
      malesuada non in libero. Nulla facilisi.

      Integer ut tellus ac ipsum tincidunt consectetur. Nullam maximus
      pellentesque enim, eu feugiat nulla. Curabitur lobortis, nunc pharetra
      facilisis rhoncus, odio tortor suscipit sem, sit amet facilisis orci
      libero in ante. Cras in felis lectus. Nullam ultricies vehicula blandit.
      Curabitur in arcu nec risus tempus eleifend. Praesent sit amet orci non
      ipsum consequat vestibulum. Curabitur vulputate placerat ligula, sed
      pharetra augue posuere a. Duis suscipit maximus odio ut pellentesque.
      Pellentesque ultricies felis ac interdum scelerisque. Nulla facilisi.
      Nulla tempor consectetur metus, ut maximus diam molestie finibus. Duis sed
      ipsum et orci luctus malesuada et id enim. Donec luctus metus diam, sed
      vestibulum ipsum sollicitudin nec. Quisque diam ante, luctus in magna id,
      tincidunt fermentum felis. Pellentesque sagittis enim sem, vitae faucibus
      nibh vehicula quis.
    </p>
  </body>
</html>
